*{
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.side-bar__user-name{
  width: 300px;
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
  & .top-items{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    height: 20px;
    &__name{
      line-height: 20px;
      margin-left: 20px;
    }
    &__icons{
      display: flex;
      line-height: 20px;
      margin-right: 20px;
      font-size: 14px;
      &--new-group{
        display: block;
        color: #ffffff;
      }
      &--edit-user{
        display: block;
        margin-left: 5px;
        color: #ffffff;
        }
      }
    }
  }
.side-bar__group-list{
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  & .group-list{
    padding: 20px 20px 40px 20px;
    height: 91px;
    width: 300px;
    color: #ffffff;
    &__name{
      font-size: 15px;
      display: block;
      color: #ffffff;
      text-decoration: none;
    }
    &__message{
      font-size: 11px;
      display: block;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
.main-chat__header{
  width: calc(100vw - 300px);
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  & .left-header{
    padding-left: 40px;
    height: 100%;
    position: relative;
    width: 300px;
    &__group-name{
      padding-top: 35px;
      font-size: 20px;
    }
    &__member-list{
      position: absolute;
      bottom: 2px;
      display: flex;
      font-size: 12px;
      color: #999999;
      &__user-name{
        margin-left: 2px;
      }
    }
  }
  & .right-header{
    padding-right: 40px;
    &__edit-btn{
      display: block;
      width: 72px;
      color: #38aef0;
      border: 1px solid;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      margin-top: 28px;
      font-size: 16px;
    }
  }
}
.main-chat__content{
  width: calc(100vw - 300px);
  height: calc(100vh - 190px);
  background-color: #fafafa;
  overflow: scroll;
  &--each{
    padding: 35px 20px 46px 40px;
    & .posted-head{
      display: flex;
      margin-bottom: 12px;
      &__user-name{
        color: #333333;
        font-size: 16px;
        font-weight: bold;
      }
      &__post-date{
        color: #999999;
        font-size: 12px;
        margin-left: 5px;
      }
    }
    & .posted-message{
      color: #434A54;
      font-size: 14px;
    }
  } 
}
.main-chat__form{
  width: calc(100vw - 300px);
  height: 90px;
  background-color: #d2d2d2;
  & .center-bar{
    padding-top: 20px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    &__form{
      width: calc(100vw - 450px);
      height: 50px;
      position: relative;
      display: flex;
      &__text_field{
        height: 50px;
        width: 100%;
        margin-left: 40px;
        padding-left: 10px;
      }
      &__file_field{
        position: absolute;
        right: 10px;
        &--yes{
          line-height: 50px;
        }
        &--no{
          display: none;
        }
      }
    }
    &__submit{
      width: 100px;
      height: 50px;
      background-color: #38aef0;
      margin-right: 40px;
      color: #ffffff;
    }
  }
}